.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section-first-item {
    @include medium-screen {
        order: 0;
    }
    display: flex;
}

.about-section-second-item {
    @include medium-screen {
        order: 1;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.about-text {
    @include mobile {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.about-photo {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;

    width: 342px;
    height: 342px;

    @include full-screen {
        width: 456px;
        height: 456px;
    }
}
