#other-projects a {
    text-decoration: none;
    background-image: linear-gradient(#222b40, #222b40),
        linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
        linear-gradient(#feb2b2, #feb2b2);
    background-size: 20px 4px, 100% 4px, 100% 4px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 2s linear , background-position 2s linear;
}

#other-projects a:hover {
    background-size: 20px 4px, 0 4px, 100% 4px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-section-first-item {
    @media (min-width: $bp-medium) {
        order: 0;
    }
}

.project-section-second-item {
    @media (min-width: $bp-medium) {
        order: 1;
    }
}

.other-projects-text {
    // border-left: 1px solid $main-color;
    padding-left: 16px;
    text-align: left;
}

.other-projects-photo {
    border-radius: 3px;
    height: auto;

    @media (max-width: $bp-medium) {
        width: 80%;
    }

    @media (min-width: $bp-medium) {
        width: 100%;
    }
}
