.skills-section {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
}

.skills-section p {
    margin-left: 0.5em;
}

.skills-list {
    display: -webkit-box;
    flex-wrap: wrap;
    list-style-type: none;
}

.skills-list li {
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 3%;
}
