//dark theme
 $main-color: #569CD6; //#0f70e8;
 $seconday-color: #CE9178;
 $tertiary-color: #4EC9B0;
 $quarternary-color: #4FC1FF;
 $font-color: #d4d4d4;
 $background-color: #1e1e1e;
 $background-color-two: #cccccc33;

//light theme
// $main-color: #7A3E9D; //#0f70e8;
// $seconday-color: #AA3731;
// $tertiary-color: #4B69C6;
// $quarternary-color: #448C27;
// $font-color: #333333;
// $background-color: #f2f2f2;
// $background-color-two: #ede8ef;

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

$xs-width: 'only screen and (max-width: 479px)';
$s-width: 'only screen and (min-width: 480px) and (max-width: 767px)';
$m-width: 'only screen and (min-width: 768px) and (max-width: 1023px)';
$l-width: 'only screen and (min-width: 1024px) and (max-width: 1279px)';
$xl-width: 'only screen and (min-width: 1280px) and (max-width: 1600px)';

$max-width: 1024px;
$section-width: 768px;

$xs-width: 'only screen and (max-width: 637px)';

@mixin mobile {
	@media #{$xs-width} {
		@content;
	}
}

@mixin small-screen {
	@media #{$s-width} {
		@content;
	}
}

@mixin medium-screen {
	@media #{$m-width} {
		@content;
	}
}

@mixin large-screen {
	@media #{$l-width} {
		@content;
	}
}

@mixin xlarge-screen {
	@media #{$xl-width} {
		@content;
	}
}